/* Animação underline navLinks */
.underline-anim {
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}
.group:hover .underline-anim {
  transform: scaleX(1);
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-slideUp {
  animation: slideUp 0.4s cubic-bezier(0.4,0,0.2,1);
}
@import "tailwindcss";

:root {
  --background-primary: #F5F5EF;
  --background-secondary: #F8E8E3;
  --background-terciary: #DDB7AB;
  --font-primary: #5E635D;
  --font-secondary: #F5F5EF;

  /* Mantendo as variáveis antigas para fallback */
  --background: var(--background-primary);
  --foreground: var(--font-primary);
}

/* Exemplo de uso para modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background-primary:  #F5F5EF;
    --background-secondary: #F8E8E3;
    --font-primary: #5E635D;
    --font-secondary: #F5F5EF;
    --background: var(--background-primary);
    --foreground: var(--font-primary);
  }
}

@keyframes slideDown {
  0% { opacity: 0; transform: translateY(-30px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-slideDown {
  animation: slideDown 0.4s cubic-bezier(0.4,0,0.2,1);
}

body {
  background: var(--background-primary);
  color: var(--font-primary);
  font-family: "David Libre", serif;
}

/* Classes para pesos específicos */
.david-libre-regular {
  font-family: "David Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.david-libre-medium {
  font-family: "David Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.david-libre-bold {
  font-family: "David Libre", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  color: var(--font-primary);
  font-weight: 300; /* font-light */
  font-size: 2.25rem; /* text-4xl */
  font-family: "David Libre", serif;
  line-height: 1.2;
}

h2 {
  color: var(--font-primary);
  font-weight: 300;
  font-size: 2rem;
  font-family: "David Libre", serif;
}

h3 {
  color: var(--font-primary);
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "David Libre", serif;
}

p {
  color: var(--font-primary);         /* text-font-primary */
  font-weight: 200;                   /* font-thin */
  font-size: 1.125rem;                /* text-lg */
  font-family: "David Libre", serif;
}

/* Carrossel Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  /* Se quiser aumentar o tamanho: */
  /* font-size: 2rem !important; */
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1;
}

/* Esconder barra de scrollbar, mas permitir scroll (WebKit + Firefox + IE) */
.modal-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.modal-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}