@import "tailwindcss";

:root {
  --background-primary: #F5F5EF;
  --background-secondary: #F8E8E3;
  --font-primary: #5E635D;
  --font-secondary: #F5F5EF;

  /* Mantendo as variáveis antigas para fallback */
  --background: var(--background-primary);
  --foreground: var(--font-primary);
}

/* Exemplo de uso para modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background-primary:  #F5F5EF;
    --background-secondary: #F8E8E3;
    --font-primary: #5E635D;
    --font-secondary: #F5F5EF;
    --background: var(--background-primary);
    --foreground: var(--font-primary);
  }
}

body {
  background: var(--background-primary);
  color: var(--font-primary);
  font-family: "David Libre", serif;
}

/* Classes para pesos específicos */
.david-libre-regular {
  font-family: "David Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.david-libre-medium {
  font-family: "David Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.david-libre-bold {
  font-family: "David Libre", serif;
  font-weight: 700;
  font-style: normal;
}
